* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 20px;
    background-color: black;
    color: white;
}
.con-1 {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    width: 1190px; 
    height: 80px;
    padding: 5px 5px;
    background-color: hsl(34, 92%, 56%);
    margin-top: -20px;
    color: white;
}
.con-1 img {
    width: 60px;
    margin-left: -90px;
    margin-top: -20px;
}
.con-1 h3{
    margin-left: 90px;
    margin-top: -50px;
}
.con-1 p{
    font-size: 12px;
    margin-left: 70px;
}
.navbar ul {
    display: flex;
    list-style: none;
    gap: 85px;
    margin-top: -10px;
}
.navbar ul li a {
    text-decoration: none;
    color: white;
    font-size: 18px;
}
.navbar ul li a:hover{
    color: hsla(13, 97%, 49%, 0.745);
}
.con-3 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    gap: 20px;
    
}
.best {
    max-width: 500px;
}
.best h1 {
    font-size: 45px;
    margin-left: -40px;
    margin-top: 80px;
    
}
.best p {
    font-size: 16px;
    margin-top: 10px;
}
.but {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #f58c04;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}
.but a {
    text-decoration: none;
    color: white;
    font-size: 18px;
}
.but a:hover{
    color: #f50404d2;
}
@media (max-width: 768px) {
    .con-1 {
        flex-direction: column;
        text-align: center;
    }
    .navbar ul {
        flex-direction: column;
        gap: 10px;
    }
    .con-3 {
        flex-direction: column;
    }
    .best h1 {
        font-size: 24px;
    }
    .best p {
        font-size: 14px;
    }
    .but {
        padding: 8px 16px;
    }
}